<section class="destacados container">
  <h2 class="destacados__titulo">Destacados</h2>
  <a href="">
    <figure class="destacados__panel">
      <img src="../../../../../public/empezando-a-crear-logo.png" alt="" class="destacados__panel-imagen">
      <figCaption class="destacados__panel-texto">Aprenda los pasos fundamentales para diseñar un logotipo.</figCaption>
    </figure>
  </a>

  <a href="">
    <figure class="destacados__panel">
      <img src="../../../../../public/sugestiones-fotograficas.png"
        alt="Panel de la publicación sobre consejos de fotografías profesionales" class="destacados__panel-imagen">
      <figCaption class="destacados__panel-texto">¿Eres fotógrafo? Descubre consejos imprescindibles para llevar tus
        imágenes al siguiente nivel.</figCaption>
    </figure>
  </a>

  <a href="" class="destacados__boton boton">Recibir ofertas por correo</a>
</section>
