<section class="diferenciales container">
  <ul class="diferenciales__lista">
    <li class="diferenciales__item diferenciales__item-reloj">
      <h2 class="item__titulo">Tiempo</h2>
      <p class="item__texto">¡El tiempo es oro! Trabajamos a un ritmo ágil para cumplir rigurosamente con los plazos establecidos.</p>
    </li>
    <li class="diferenciales__item diferenciales__item-dinero">
      <h2 class="item__titulo">Objetivo</h2>
      <p class="item__texto">Nos especializamos en apoyar a pequeños y medianos emprendedores, ofreciendo servicios de alta calidad a precios accesibles.</p>
    </li>
    <li class="diferenciales__item diferenciales__item-quimica">
      <h2 class="item__titulo">Profesionales</h2>
      <p class="item__texto">Equipo especializado con amplia experiencia en el mercado. Probamos rigurosamente todos los productos antes de su lanzamiento.</p>
    </li>
  </ul>
</section>
